{% extends 'discussions/base.html' %}

{% block content %}
    <h2>{{ topic.title }}</h2>
    <p class="topic-description">{{ topic.description }}<p>
    <span class="badge badge-default">Posted: {{ topic.pub_date }}</span>

    <h3>Comments</h3>

    {% if comments %}
        <ul class="list-group">
        {% for comment in comments %}
            <li class="list-group-item">
                <div>
                    <p>{{ comment.comment_text }}</p>
                    <span class="badge badge-default">{{ comment.pub_date }}</span>
                </div>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no comments for this topic.</p>
    {% endif %}

    <br />

    <form class="form-group" action="{% url 'discussions:comment' topic.id %}" method="post">
        {% csrf_token %}
        <label for="title">Add a comment</label><br />
        <input class="form-control" type="textbox" maxlength="{{ max_comment_length }}" name="comment_text"/>
        <br \>
        <input class="btn btn-primary" type="submit" value="Submit Comment"/>
      </form>
{% endblock %}
