{% extends 'discussions/base.html' %}

{% block content %}
    <h2>Create a new topic</h2>

    <form class="form-group" action="{% url 'discussions:create' %}" method="post">
        {% csrf_token %}
        <label for="title">Title</label><br />
        <input class="form-control" type="textbox" maxlength="{{ max_title_length }}" name="title"/>
        <br \>
        <label for="description">Description</label><br />
        <input class="form-control" type="textarea" maxlength="{{ max_desc_length }}" name="description"/>
        <br \>
        <input class="btn btn-primary" type="submit" value="Submit Topic"/>
      </form>
{% endblock %}
